# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# local databases
*.db
*.sqlite
smoke.db
build.db
